

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Nav ul {
  display: flex;

  flex-direction: row;
  justify-content: end;
  
}
.Nav {
  background-color: #007bff;
  
}

.Nav h2 {
  color: white;
}

.Nav li {
  display: flex;
  justify-content: end;
  padding: 20px;
  height: 80px;
  justify-content: end;
  padding: 1px 10px; 
 
}

.link{
  text-decoration: none;
  color: white
}

.logo {
  top: 0%;
}

.titulo {
  display: flex;
  justify-content: center;
  position: 20px;

}

